<!DOCTYPE html>
<!--make this HTML document into a Thymeleaf template-->
<!--replace: putting a reference in to the layout.html. we are telling thymeleaf to merge this and layout.html together-->
<html lang="en" xmlns:th="http://www/thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<!--intellij may wack this if no tag-->
<!--need single quote if same as 'index page' if no single quote, thymeleaf will evaluate it as expression(see previous commit)-->
<!--#{welcome} is a reference to a properties file-->
    <h2 th:text="#{welcome}">Welcome</h2>

    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

</body>
</html>